.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.3);
}

.form {
    height: 740px;
    border-radius: 0.5rem;
    box-shadow: 0 0 2.5rem #333;
    background-color: var(--primary-color);
    user-select: none;
}