.input {
    border: solid 1px rgba($color: #333, $alpha: 0.3);
    padding: 0.8rem 6rem 0.5rem 1.6rem;
    border-radius: 3rem;
}

.input:focus {
    border-color: var(--secondary-color);
}

.wrapMessenger {
    overflow-y: auto;
    overflow-x: hidden;
}

.messengerState {
    opacity: 0;
    z-index: -1;
    top: -2.8rem;
    background-color: rgb(225,225,225);
    left: 0;
    height: 2.8rem;
    transform: translateY(-1rem);
    transition: all ease-in-out 0.3s;
}

.animationMessengerState {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}