.bgWrapper {
    background-image: url(../../../../app/images/Profile2.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.showBtn {
    position: absolute;
    right: 50%;
    bottom: 1.5%;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    user-select: none;
    transform: translateX(50%);
}

.inputCheckbox {
    width: 1.5rem;
    height: 1.5rem;
}